/* ------------------------ */
/* ----- general ---------- */
/* ------------------------ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Kumbh Sans', sans-serif;
    background-color: #474c52;
    line-height: 1.2;
}

h3:hover {
    cursor: pointer;
}

/* ------------------------ */
/* ----- header ----------- */
/* ------------------------ */

.header {
    text-align: center;
    background-position: center;
    background-attachment: fixed;
    height: 25vh;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(/img/header.png);
    display: block;
}

.header-box {
    top: 50%;
    transform: translate(0, 300%);
    color: white;
}


/* ------------------------ */
/* ----- char tab --------- */
/* ------------------------ */

.character-box {
    margin-top: 1.25%;
    padding: 10px;
    text-align: center;
    background: rgba(225,225,255,0.2);
}

.char-img {
    border: 2px solid #a0b9ef;
    border-radius: 50%;
    width: 5%;
    margin: auto 1.5%;
    vertical-align: middle;
    transition: 0.5s;
    max-width: 89px;
    max-height: 89px;
}

.char-img:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.abilities-box {
    display: none;
    margin-top: 1.25%;
    padding: 10px;
    text-align: center;
    background: rgba(225,225,255,0.2);
}

.abilities-box .row div {
    display: inline;
    margin: 2%;
}

.abilities-box img {
    height: 50px;
    width: 50px;
}

/* ------------------------ */
/* ----- build section ---- */
/* ------------------------ */

.build-section {
    margin-top: 1.25%;
    width: 100%;
}

.build-section div {
    background-color: rgba(225,225,255,0.2);
    color: white;
}

.build-section h2 {
    padding-top: 10px;
    font-weight: 100;
}

.build-section h2:after {
    display: block;
    height: 1px;
    background-color: #a0b9ef;
    content: "";
    width: 100%;
    margin: 0 auto;
    margin-top: 10px;
}

.normal {
    color: white;
}

.out-of-combat {
    color: #63b32e;
}

.on-kill {
    color: #c5543b;
}

/* ------------------------ */
/* ----- items col -------- */
/* ------------------------ */

.col-items {
    width: 74.5%;
    float: left;
    border-radius: 10px;
}

.col-items h2 {
    text-align: center;
}

.item-rarities {
    text-align: center;
}

.item-rarities h3 {
    display: inline-block;
    font-weight: 100;
    margin: 10px 2.5%;
}

.item-breaker {
    height: 1px;
    background-color: #a0b9ef;
    border: none;
    margin: auto;
}

.common-items {
    margin: 1% auto;
    text-align: center;
    display: block;
}

.uncommon-items {
    margin: 1% auto;
    text-align: center;
}

.legendary-items {
    margin: 1% auto;
    text-align: center;
}

.hidden {
    display: none !important;
}

.item-card {
    height: 365px;
    width: 20%;
    min-width: 250px;
    max-width: 250px;
    display: block;
    float: left;
    margin: 2.5% 2.5%;
    border: 1px solid #a0b9ef;
    border-radius: 2%;
    box-shadow: 1px 1px px 1.25px rgba(0,0,0,0.15);
    overflow: auto;
    background: rgba(225,225,255,0.2) !important;
}

.item-img {
    border: 2px solid white;
    border-radius: 50%;
    height: 100%;
}

.uncommon-items .item-card .card-img img {
    border: 2px solid #7ecb3f;
}

.legendary-items .item-card .card-img img {
    border: 2px solid #f3715a;
}

.item-quantity {
    position: relative;
    top: -20px;
    padding-left: 80px;
}

.card-img {
    height: 30%;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: 0.25s;
    background-color: #a0b9ef !important;
}

.card-img img:hover {
    transform: scale(0.9);
    transition: 0.25s;
    cursor: pointer;
}

.card-title {
    height: 10%;
    margin: 0px auto;
    background-color: #425161 !important;
    color: white;
    border-bottom: 1px solid #a0b9ef;
    overflow: hidden;
}

.card-title h4 {
    padding: 7px;
    font-weight: 300;
}

.card-desc {
    font-weight: 300px;
    height: 40%;
    width: 80%;
    margin: 10px auto;
    background-color: rgba(225,225,255,0) !important;
}

#res .card-desc p {
    font-size: 1.5vh;
}

/* ------------------------ */
/* ----- build col -------- */
/* ------------------------ */

.col-build {
    border-radius: 10px;
    width: 25%;
    min-width: 265px;
    float: right;
    position: absolute;
    left: 75%;
    line-height: 2.0;
}

.col-build h2 {
    text-align: center;
}

.col-build p {
    padding-left: 2%;
    padding-right: 2%;
}

#abilities {
    text-align: center;
}

#abilities img {
    width: 20%;
    margin: 0 1%;
    max-height: 55px;
    max-width: 55px;
}

#level-bar {
    width: 100%;
    display: block;
}

.level-display {
    float: left;
    width: 80%;
}

#level-down {
    float: right;
    width: 10%;
    text-align: center;
    cursor: pointer;
}

#level-down:hover {
    background-color: rgba(225,225,255,0.2);
}

#level-up {
    float: right;
    width: 10%;
    text-align: center;
    cursor: pointer;
}

#level-up:hover {
    background-color: rgba(225,225,255,0.2);
}

#health-bar {
    background-color: #63b32e;
}

#shield-bar {
    background-color: inherit;
}